/* colores
fondo verde opal : #BAD1CD
texto misty rose: #F2D1C9
links blue yonder: #587792
clicked links: #0E1C36
titulos: #AA4465

*/

*{
margin: 0;
padding: 2px;
background-color: #BAD1CD;
color: #0E1C36
}
body{
  background-color: #BAD1CD;
  padding: 2px;
  margin:2px;
}
a{
  color:#587792
}
a:hover{
  color:#0E1C36
}
.txt1{
  display: flex;
  flex-direction: column;
  align-content: center;
}

p{
  font-size: 18px;
  text-align: center;
  padding:10px;
  margin:2px;
}
 h2 {
  align-self: center;
  color: #AA4465;
  text-align: center;
  margin:1px;
  padding:2px;

}
h1 {
  align-content: center;
  text-align: center;
  color: #AA4465;
  margin:1px;
  padding:2px;

}

h3{
  align-content: center;
  text-align: center;
  color: #AA4465;
  margin:1px;
  padding:2px;

}
h4 {
  color: #AA4465;
  margin:4px;
  padding:4px;
  margin-right: 20px;
}
.nav-link{
 color: #587792
}
.pic{
  align-self:center;
  padding: 40px;
  margin: 4px;
}
.navbar-brand{
  background-color: #BAD1CD
  color:#F2D1C9
}
.navbar{
  background-color: #BAD1CD
  color:#BAD1CD;
}
.img-fluid{
  align-items: center;
}
.salmon{
  margin:4px;
  padding: 2px;
  color:#0E1C36;
  display: flex;
  flex-direction: column;
}

.prep{
  list-style: none;
  color:#0E1C36;
  display: flex;
  flex-direction: column;
  padding:4px;
  margin : 4px;
}

.ind{

  color:#0E1C36;
  display: flex;
  flex-direction: row;
}
.met{

  color:#0E1C36;
  display: flex;
  flex-direction: column;

}

.ing{
  color:#0E1C36;
  display: flex;
  flex-direction: column;
  padding:4px;
  margin : 2px;

}
